.container-docs {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* mejor para items de altura variable */
  width: 100%;
  max-width: 1200px; /* limita el ancho en pantallas grandes */
  margin: 0 auto; /* centrado */
}
.card-doctor {
  width: 40%;
  box-shadow: 1px 1px 4px grey;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: white;
  margin: .5rem;
}
.foto-ferfil {
  width: 40%;
}
.foto-ferfil img {
  width: 100%;
}
.info-doctor {
  width: 60%;
  height: 100px;
   text-align: left;
  position:relative;
}
@media screen and ( min-width: 1024px) {

.container-docs {
  display: flex;
  justify-content: center;
  align-items: center;
}
}